<html>{% load backend_utils %}
<head>
    <title>Python Social Auth</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
      h1 { padding: 0 30px; }
      .col-md-2 { width: 18.6667%; }
      .buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
                 margin: 20px; background: #eee; padding: 30px; }
      .buttons > div a { margin: 5px 10px; }
      .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                         padding-top: 10px; text-align: center; }
      .user-details { text-align: center; font-size: 16px; font-weight: bold; }
      .disconnect-form { padding: 0; margin: 0px 10px; }
      .disconnect-form > a { display: block; margin: 5px 0 !important; }
    </style>
  </head>
  <body>
    <h1>Python Social Auth</h1>
{%if request.user.is_active %} 
     <a class="btn btn-primary" href="/logout/">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
<br><h3><span class="label label-info">{{request.user.pk }}</span> - <small> {{request.user.email}}({{request.user.username}})</small></h3><hr>
 {% endif %} <!--  <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>  google-oauth2,twitter -->
    <div class="social">
        {% for sublist in backends %}
	  <div class="row">
            {% for name, backend in sublist %}
              {% associated backend %}
              {% if association %}
                <form class="disconnect-form col-md-2" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">{% csrf_token %}
                  <a class="btn btn-danger" name="{{ backend|backend_class }}" href="#">
                    <i class="fa fa-{{ name|icon_name }}"></i>
                    Disconnect {{ backend|backend_name }}
                  </a>
                </form>
              {% else %}
                <a class="col-md-2 btn btn-default" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}">
                  <i class="fa fa-{{ name|icon_name }}"></i>
                  {{ backend|backend_name }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
    </div>
<br><br><hr>
<div class="panel panel-primary">
  <div class="panel-heading">All users</div>
  <div class="panel-body">
<ul>
{% for usr in user_list %}
  <li> <span class="badge">{{usr.pk}}</span> {{usr.email}} ({{usr.username}})</li>
{% endfor %}
</ul>
</div>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $('.disconnect-form').on('click', 'a.btn', function (event) {
          event.preventDefault();
          $(event.target).closest('form').submit();
        });
    </script>
</body>
</html>
